<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439722045400-hs6dg0hfi5936lmq251e9q3m71mku2lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439722045400-hs6dg0hfi5936lmq251e9q3m71mku2lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDdT3qwtYysOad5uyqQKXybt2yK1JMRNLc</string>
	<key>GCM_SENDER_ID</key>
	<string>439722045400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMovil</string>
	<key>PROJECT_ID</key>
	<string>bungeeqr</string>
	<key>STORAGE_BUCKET</key>
	<string>bungeeqr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439722045400:ios:9f5d4500573b32cc958cad</string>
</dict>
</plist>